<h1>Consignes</h1>

<p>Vous devez créer une application d'administration d'utilisateurs. L'application devra permettre de :</p>
<ul>
    <li><span>Visualiser une liste d'utilisateurs</span></li>
    <li><span>Filtrer cette liste d'utilisateurs</span></li>
    <li><span>Visualiser un utilisateur</span></li>
    <li><span>Modifier un utilisateur</span></li>
    <li><span>Supprimer un utilisateur</span></li>
    <li><span>Créer un utilisateur</span></li>
</ul>
<p>Pour cela, vous devez respecter les contraintes suivantes:</p>

<ul>
    <li><span>Les différentes vues pourront être accessibles directement par l'URL</span></li>
    <li><span>Vous devrez mettre en place un systeme de route</span></li>
    <li><span>Vous devrez créer et utiliser au moins un service</span></li>
    <li><span>Vous devrez créer et utiliser au moins un filtre</span></li>
    <li><span>BONUS: Créer et utiliser au moins une directive (groupe de boutons d'actions pour supprimer un utilisateur directement à partir de la liste)</span>
    </li>
</ul>

<p>Vous disposez de l'api REST suivante:</p>
<ul>
    <li><a href="/api/users"><span>GET:/api/users </span></a>Pour récupérer la liste des utilisateurs</li>
    <li><a href="/api/users/53dcd9125cb714cc5d297cd1"><span>GET:/api/users/:id </span></a>Pour récupérer un
        utilisateur par son id
    </li>
    <li><span>POST:/api/users </span>Pour ajouter un utilisateur</li>
    <li><span>PUT:/api/users/:id </span>Pour modifier un utilisateur</li>
    <li><span>DELETE:/api/users/:id </span>Pour supprimer un utilisateur</li>
</ul>


<div class="footer">
    <p>♥ from the Sfeir team</p>
</div>
