<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title translate="global.title">Front-app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower/ng-table/dist/ng-table.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="images/home.png">
</head>
<body>
<div class="container">
    <div class="header" ng-controller="HeaderCtrl">
        <ul class="nav nav-pills pull-right">
            <li><a href="#/home" translate="global.home">Home</a></li>
            <li><a href="#/users" translate="global.all">All users</a></li>
            <li><a href="#/comments">Comments</a></li>
            <li><a href="#/chat">Chat</a></li>
            <li><a href="javascript:;" ng-click="changeLanguage('fr')">FR</a></li>
            <li><a href="javascript:;" ng-click="changeLanguage('en')">EN</a></li>
        </ul>

        <h3 class="text-muted">{{'global.header' | translate}} <a href="javascript:;" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span></a></h3>

    </div>
    <hr />
    <div ng-view>
    </div>
    <div class="footer"><hr /></div>
</div>

<script src="bower/jquery/dist/jquery.js"></script>
<script src="bower/angular/angular.js"></script>
<script src="bower/angular-route/angular-route.js"></script>
<script src="bower/angular-translate/angular-translate.js"></script>
<script src="bower/angular-cookies/angular-cookies.min.js"></script>
<script src="bower/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script src="bower/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower/ng-table/dist/ng-table.min.js"></script>
<script src="bower/sockjs-client/dist/sockjs.min.js"></script>
<script src="bower/stomp-websocket/lib/stomp.min.js"></script>
<script src="bower/underscore/underscore-min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="partials/users/data.js"></script>
<script type="text/javascript" src="partials/users/users.js"></script>
<script type="text/javascript" src="partials/comments/controllers.js"></script>
<script type="text/javascript" src="partials/comments/comments.js"></script>
<script type="text/javascript" src="partials/messages/controllers.js"></script>
<script type="text/javascript" src="partials/messages/messages.js"></script>
<script type="text/javascript" src="partials/messages/mes.js"></script>
</body>
</html>
