<form class="form-inline" role="form">
    <div class="form-group">
        <input ng-if="users.length" id="search" type="text" class="form-control" placeholder="..." ng-model="searchText">
        <button ng-if="!users.length" ng-click="addtest()" class="btn btn-md btn-default" translate="users.addtest">Add test users</button>
        <a class="btn btn-md btn-default" ng-href="#/users/add" translate="dictionary.add">Ajouter</a>
    </div>
</form>
<div ng-if="users.length > 0">
  <h4 style="margin-top:10px" class="page-header">{{users.length}} {{'dictionary.users.found' | translate}}</h4>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
          <tr>
              <th translate="dictionary.name">Name</th>
              <th translate="dictionary.company">Company</th>
              <th translate="dictionary.email">Email</th>
              <th translate="dictionary.address">Address</th>
              <th translate="dictionary.actions">Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter:searchText">
                <td><a href="#/user/{{user.key}}">{{user.name}}</a></td>
                <td>{{user.company}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td><user-buttons size="sm" key="{{user.key}}"></td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
