    <div class="row col-md-2">
        <input type="text" class="form-control" placeholder="name" ng-model="name">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="message" ng-model="message">
    </div>
    <button ng-click="send()" class="btn btn-md btn-default">Send</button>
    <hr/>

    <h4>Room {{id}}</h4>
    <table ng-table="ngTable" class="table table-striped" show-filter="true">
        <tbody>
        <tr ng-repeat="comment in $data">
            <td class="col-md-3" title="'Date'" filter="{ date: 'text'}" sortable="'date'">{{comment.date}}</td>
            <td class="col-md-9" title="'Message'" filter="{ message: 'text'}">{{comment.name}} : {{comment.message}}</td>
        </tr>
        </tbody>
    </table>