<h2>Communication with Python Server</h2>
<div class="row">
    <div class="form-group">
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Compose a new message..." ng-model="message" />
        </div>
        <button class="btn btn-primary" ng-click="sendMessage(message)" ng-disabled="input.length === 0">Send</button>
    </div>

</div>
<div class="well well-sm" ng-show="messages.length">
    <p ng-repeat="message in messages | orderBy:'time':true" class="message">
        <span ng-class="{'text-primary': message.self}">{{message.data}}</span>
    </p>
</div>